@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Gothic+A1:wght@100;200;300;400;600;700;800&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Pathway+Gothic+One&family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
*,
*::after,
*::before {
  font-family: "Didact Gothic", sans-serif;
  font-family: "Gothic A1", sans-serif;
  font-family: "Lexend", sans-serif;
  font-family: "Pathway Gothic One", sans-serif;
  font-family: "Proza Libre", sans-serif;
}

.bt{
  font-family: 'DM Sans', sans-serif;
}
